.DS_Store
node_modules
/dist
/.ionic
/.sass-cache
/.sourcemaps
/.tmp
/.www
*.log
.env
.env.local

# VSCode
.vscode
.history

# Firebase
.firebase


android/keystore.properties
.env.dev

# Playwright
playwright-report
test-results
